extends layout/main-layout.pug


block content
    if !profileUser
        span.errorMessage There's no user with that username
    else 
        .profileHeaderContainer
            .infoContainer
                .userInfoContainer
                    span.displayName #{profileUser.firstName}  #{profileUser.lastName}
                    span.username @#{profileUser.username}
                .userImageContainer
                    img(src=profileUser.profilePic, alt="User profile picture")
            .profileBottomContainer
                .followersContainer
                    a(href=`profile/${profileUser.username}/following`)
                        span.value #{0}
                        span Following
                    a(href=`profile/${profileUser.username}/follower`)
                        span.value #{0}
                        span followers
                if(profileUser._id !== userLoggedIn._id) 
                    .buttonContainer
                        a.profileButton(href=`/messages/${profileUser._id}`) 
                        
                            i.fa-regular.fa-comment
                        +createFollowButton(profileUser , true)
        .tabsContainer
            +createTab("Posts",`/profile/${profileUser.username}/`, true)
            +createTab("Replies",`/profile/${profileUser.username}/replies`, false)
        .postContainer
        +createReplyModal(userLoggedIn)
        +createDeletePostModal(userLoggedIn)

block scripts
    script(src="/js/profile.js") 