mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonContainer
                button#submitPostButton(disabled="") Post
mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Reply
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    #originalPostContainer 
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="What's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") Save changes
mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Delete
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                   p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete
mixin createPostModal(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name , href,isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}