mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonContainer
                button#submitPostButton(disabled="") Post
mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Reply
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    #originalPostContainer 
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="What's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") Save changes
mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Delete
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                   p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete
mixin createPostModal(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name , href,isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}


mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1' aria-labelledby='imageUploadModal' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#imageUploadModalLabel.modal-title.fs-5 Upload new profile picture?
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save


mixin createPinPostModal()
    #confirmPinModal.modal.fade(tabindex='-1' aria-labelledby='confirmMinModal' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#confirmMinModalLabel.modal-title.fs-5 Pin this post?
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p This post will appear at the top of your profile, you can only pin one post
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') Yes



mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1' aria-labelledby='unpinModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#unpinModalLabel.modal-title.fs-5 Unpin this post?
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p This post will be unpin
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
                    button#unpinPostButton.btn.btn-primary(type='button') Yes
